<?xml version='1.0' encoding='utf-8'?>
<widget id="wkwebview.pimovil.com" version="0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
 <name>WKWebview</name>
    <description>
        ---
    </description>
    <author email="paniaguaz@hotmail.com" href="http://www.pimovil.com">
        ---
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <icon src="icon.png" />
	
	<gap:plugin name="com.telerik.plugins.wkwebview" version="0.2.5" />
	
</widget>